.appControls {
    display: flex;
    flex-direction: column;
    border: red 1px solid;
    /*justify-content: space-between;*/
    height: 100%;
}

.appControls--home {
    border: yellow 1px solid;
}

.appControls--userControls {
    display: flex;
    flex-direction: column;
    border: blue 1px solid;
}

.appControls--galleryControls {
    border: green 1px solid;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 1004;
    width: 220px;
    margin: 0 0 0 -100px;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    .appControls {
        flex-direction: row;
        justify-content: space-between;
    }

    .appControls--userControls {
        flex-direction: row;
    }
}