.quickArtworkMaker {
    /*overflow: hidden;*/
    /*min-width:100vw;*/
    /*min-height:100vh;*/
}

.quickArtworkMaker--sideBar{
    /*background: aliceblue;*/
    /*background: url("../../app/images/brickwall.png");*/
    position: fixed;
    z-index: 2;
    top:0;
    right: 0;
    bottom: 0;
    overflow-x:hidden;
    overflow-y:auto;
}

.quickArtworkMaker--mainScrollable {
    /*margin-right: 60px;*/
    z-index: 2;
}

.quickArtworkMaker--mainFixed{
    position: fixed;
    top: 0;
    /*right: 60px;*/
    bottom: 0;
    z-index: 2;
}
