.add-artwork-screen{
    background-color: cadetblue;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s mode;
}

.add-artwork-screen-content{
    position: relative;
    color: #fff;
    top: 2%;
    left: 2%;
}

.add-artwork-image-section{
    display: flex;
    flex-direction: column;
    border: solid 2px white;
    padding: 20px;
    border-radius: 5px;
    max-width: 100px;
}