.deleteArtwork{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.deleteArtwork--question{
    margin: 20px 0 0 0;
    background: darkred;
    color: white;
    padding: 10px 20px;
    text-align: center;
}