.yourGalleries--cards{
    display: flex;
    /*background-color: rgba(254, 0, 255, 0.36);*/
    flex-wrap: wrap;
    justify-content: space-between;
}

.yourGalleries--galleryCard{
    padding: 3rem;
    border: 3px solid rgba(0, 0, 0, 0.57);
    flex: 1;
    margin: 0 2rem;
    text-align: center;
}

.yourGalleries--nameBox{
 margin-bottom: 2rem;
}

.yourGalleries--nameBox--artistName{
    font-size: 1.5rem;
    margin: 0;
}