.quickPhotoSelectorPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.quickPhotoSelector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    max-width: 420px;
}

.quickPhotoSelector--input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.quickPhotoSelector--customInputButton{
    cursor: pointer;
    max-width: 600px;
    padding: 60px;
    margin-top: 30px;
    outline: none;
    text-align: center;
    border: rgba(0, 0, 0, 0.4) 10px dashed;
}

.quickPhotoSelector--iconBg{
    fill: rgba(0, 0, 0, 0.4);
}

.quickPhotoSelector--icon{
    fill: #fff;
}

.quickPhotoSelector--text{
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Stardos Stencil', cursive;
    margin: 0;
    font-size: 2rem;
    line-height: 2rem;
}

@media screen and (max-height: 480px) {
    .quickPhotoSelector--customInputButton {
        padding: 20px 60px;
        margin-top: 10px;
    }
}