.flooring{
    /*margin-top: 4rem;*/
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flooring svg{
    margin: 0;
}

.flooring--floorBoards{
    margin: 0;
    min-height: 80px;
    /*background-color: rgba(0, 0, 0, 0.68);*/
    background: url("../../images/floor-boards.png"), radial-gradient(circle, #fefce0, #e6e5cb);
    /*padding: 1.5rem 1.5rem 5rem 1.5rem;*/
    padding: 0;
}