.palette{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.palette--swatch{
    flex: 1;
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    border: rgba(0, 0, 0, 0.05) 3px solid;
    margin: 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}