.palette{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.palette--swatch{
    flex: 1;
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    border: #fff 3px solid;
    /*border: #ffa115 2px solid;*/
    margin: 2px;
    border-radius: 10px;
}