# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/.idea
/_archive_
/_resources_
/functions/node_modules
/functions/node_modules/art-blam-firebase-adminsdk-zebo2-cc2250b8ef.json


# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
