.userProfile {
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 500px;
}

.userProfile--deleteSection{
    border-top: rgba(0, 0, 0, 0.3) 1px solid;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
}

.userProfile--detailsList {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.userProfile--detail {
    display: flex;
    padding: 10px;
    align-items: center;
}

.userProfile--detail--col{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.userProfile--detail--type {
    width: 75px;
}

.userProfile--detail--value {
    flex: 1;
    padding-left: 10px;
}

.userProfile--email {
    flex: 1;
}

.userProfile--detail--buttons{
    display: flex;
    justify-content: flex-end;
}

.mood-icon{
    font-size: 2rem;
}

.userProfile--detailsList--avatarHolder{
    margin: 0 auto 20px auto;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
