.userProfile {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.userProfile--detailsList {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.userProfile--detail {
    display: flex;
    padding: 10px;
    align-items: center;
}

.userProfile--detail--col{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.userProfile--detail--type {
    width: 200px;
}

.userProfile--detail--value {
    flex: 1;
    padding-left: 10px;
}

.userProfile--email {
    flex: 1;
}

.userProfile--detail--buttons{
    display: flex;
    justify-content: flex-end;
}
