.presetsControl--typeOptions{
    display: flex;
}

select{
    font-size: 1rem;
    width: 100%;
    padding: 3px;
}

.presetsControl--typeOptions--label{
    background: white;
    padding: 2px 10px;
}

.presetsControl--blocks{
    display: flex;
    margin: 0 5px;
}

.presetsControl--block{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    border: rgba(0, 0, 0, 0.53) 2px solid;
}

.presetsControl--block--black{
    background-color: black;
    color: white;
}

.presetsControl--block--white{
    background-color: white;;
}