.newUserForm--signHolder {
    background: rgba(0, 0, 0, 0.07);
    padding: 50px;
}

.newUserForm--holder {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /*border: rgba(0, 0, 0, 0.47) solid 15px;*/
}

.newUserForm {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.newUserForm--sectionHeader {
    font-size: 24px;
}

.newUserForm--butts {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 600px;
    align-self: center;
}