.artworkAdderComplete{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../../app/images/brickwall.png");
}

.artworkAdderComplete--thumbHolder{
    margin-bottom: 1rem;
}

.artworkAdderComplete--buttHolder{
    display: flex;
    flex-wrap: wrap;
}

.artworkAdderComplete--buttHolder button{
    margin: 5px;
}