/*.quickFrameEditor--toolHolder {
    position: fixed;
    bottom: 0;
    left: 70px;
    right: 0;
    padding: 0;
    background-color: rgba(255, 102, 0, 0.7);
}*/

/*.quickFrame--controls--holder {
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 70px;
    right: 0;
    overflow-y: auto;
    background-color: #777;
}*/

.quickFrameEditor {

}

.quickFrameEditor--toolHolder {
    position: fixed;
    left: 60px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.quickFrameEditor--toolHolder--selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
}

.quickFrameEditor--toolHolder--selectors--options{
    display: flex;
}

.quickFrameEditor--toolHolder--selectors--globalButts{
    /*height: 10px;*/
/*align-self: flex-end;*/
}
