.gallery-scene{
    display: flex;
    justify-content: center;
}

.gallery {
    top: 64px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gallery svg {
    /*border: 1px solid #f3f2ff; !* For debugging *!*/
    /*align-items: stretch;*/
    /*background-color: #ff00ed;*/
}

.gallery-background{
    position: absolute;
    width: 100%;
    overflow-x: hidden;
}

.gallery-top {
    display: flex;
    justify-content: center;
    /*background-color: #9ac4ff;*/
    /*border: 1px solid #ff0010; !* For debugging *!*/
}

.gallery-top svg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 800px;
}

.gallery-top svg text{
    font-family: 'Source Code Pro', monospace;
}


.gallery-middle {
    display: flex;
    width: 100%;
    max-width: 800px;
    /*border: 1px solid #00ff03; !* For debugging *!*/
}

.gallery-middle-windows{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    max-width: 800px;
    background-color: #ffffff;
}

.gallery-middle svg{
    flex-grow: 1;
}

.gallery-bottom {
    display: flex;
    justify-content: center;

    /*background-color: #89b0ea;*/
    /*border: 1px solid #0005ff; !* For debugging *!*/
}

.gallery-bottom svg {
    width: 100%;
    height: 100%;
    max-width: 800px;
}
