.wordCountInput{
    display: flex;
    flex-direction: column;
}

.wordCountInput input, .wordCountInput textarea{
    font-size: 16px;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 15px;
    border: none;
}

.wordCountInput--titleBar{
    display: flex;
    justify-content: space-between;
}

.wordCountInput--titleBar--count{
    font-size: 0.8rem;
    padding: 0 5px;
}

.wordCountInput--titleBar--count--warning{
    background-color: #8b8667;
    color: white;
}