.toolControlPanel {
    position: absolute;
    right: 0;
    background: white;
    max-width: 50%;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.51);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*PANEL TITLE*/
.toolControlPanel h1{
    background: #7f7f7f;
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    border-bottom: white 1px solid;
}

/*TOOL OPTIONS*/
.toolControlPanel--options {
    display: flex;
    background: white;
}

/*TOOL OPTION BUTTON*/
.toolOptionButton {
    cursor: pointer;
    font-weight: 700;
    padding: 15px 5px;
    text-align: center;
    /*border: white 1px solid;*/
    flex: 1;
    font-size: 12px;
    line-height: 1em;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
}
.toolOptionButton--selected {
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
    background-color: white;
}
.toolOptionButton--disabled {
    color: rgba(0, 0, 0, 0.2);
    cursor: default;
}

/*GLOBAL BUTTS*/
.toolControlPanel--globalButts {
    border-top: 1px solid black;
    display: flex;
    background: white;
    flex-wrap: wrap;
}
 /**/
.toolControlPanel--contentScroller {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.toolControlPanel--contentScroller--content {
    position: absolute;
    width: 100%;
}

/*SECTION*/
.toolControlPanelSection{
    padding: 0 10px;
    margin-bottom: 1rem;
}

.toolControlPanelSection--title{
    font-size: 1rem;
    margin: 0.5rem 0 0.2rem 0;
}