.toolControlPanel {
    position: absolute;
    right: 0;
    background: white;
    max-width: 50%;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.51);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.toolControlPanel h1{
    background: #7f7f7f;
    color: white;
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    border-bottom: white 1px solid;
}

.toolControlPanel--options {
    display: flex;
    background: white;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.toolControlPanel--globalButts {
    border-top: 1px solid black;
    display: flex;
    background: white;
    flex-wrap: wrap;
}

.toolControlPanel--content {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.toolControlPanel--currentOptionContent {
    position: absolute;
    width: 100%;
}

.toolControlPanel--currentOptionContent h2 {
    margin: 25px 0 5px 20px;
    font-size: 1rem;
}