.stencilHeader {
    font-family: 'Stardos Stencil', cursive;
    font-size: 3rem;
    font-weight: normal;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 2rem 1rem 1.5rem 1rem
}