.stencilHeader {
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0 1rem 1.5rem 1rem;
}

.stencilHeader--iconHolder{
    display: inline-block;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 800px) {

    .quickPhotoSelector--customInputButton svg{
        width: 70px;
    }

    .stencilHeader {
        font-size: 2rem;
        line-height: 2rem;
        margin: 1rem 1rem 0.5rem 1rem;
    }
}


