.cropAndRotate--holder {
    position: relative;
    z-index: 1000;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cropAndRotate--content {
    padding: 40px 40px 30px 40px;
    display: flex;
    flex: 1;
    align-items: center;
}

.cropAndRotate--cuttingBoardHolder {
    margin: 0 auto;
}

.cropAndRotate--controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}