body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    padding: 5px;
}

.controls-block{
    padding: 10px;
    border: solid 1px #000;
    display: inline-block;
}

.controls-block-user{
    float: right;
}

.slim-btn-group{
    display: none;
}

.slim-btn {
    border-radius: 0;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 13px;
    color: white;
    background-color: black;
    display: inline-block;
    padding: 3px 10px;
    margin: 0;
    cursor: pointer;
}

.inputfile + label * {
    pointer-events: none;
}

.inputfile + label:hover {
    background-color: red;
}

label.disabled{
    background-color: aliceblue;
    opacity: 0.8;
    cursor: not-allowed;
}