.roomPresets{
    padding: 0 10px 10px 10px;
}

.wallPresets {
    display: flex;
    flex-wrap: wrap;
}

.skirtingControlHolder{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.roomPresets{
    /*width: 170px;*/
}
