.photoSelector{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoSelector--input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.photoSelector--customInputButton{
    background: rgba(255,255,255,0.4);
    cursor: pointer;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
    outline: none;
    text-align: center;
}

.photoSelector--iconBg{
    fill: rgba(0, 0, 0, 0.4);
}

.photoSelector--icon{
    fill: #fff;
}

.photoSelector--text{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
}