.gallery {
    background: url("../../app/images/brickwall.png");
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.galleryHome{
    padding-bottom: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("../../app/images/brickwall.png");
}

.gallery--title {
    /*background-color: rgba(255, 255, 0, 0.5);*/
    font-size: 4rem;
    padding: 10px;
    line-height: 4rem;
    margin: 42px 0 10px 0;
    text-align: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Stardos Stencil', cursive;
    /*
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    */
    /*font-family: 'Black Ops One', cursive;
    font-weight: normal;
    */
}

.gallery--subtitle {
    background-color: rgba(255, 255, 0, 0.5);
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 5px 0;
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Stardos Stencil', cursive
}

.gallery--sizePlaceholder {
    flex: 1;
    /*background-color: red;*/
    position: relative;
}

.gallery--controls {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: 60px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery--controls--backToGalleryButt {
    /*align-self: left;*/
}

.gallery--framedArtwork {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    /*background-color: #6cdfea;*/
}

@media only screen and (max-width: 600px) {
    .gallery--title {
        font-size: 3rem;
        line-height: 3rem;
    }

    .gallery--subtitle {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

