.cropAndRotate--holder {
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    display: flex;
}

.cropAndRotate--content {
    z-index: 1;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cropAndRotate--cuttingBoard{
    position: relative;
}