
.cropAndRotate--holder {
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    display: flex;
}

.cropAndRotate--content {
    z-index: 1;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*.cropAndRotate svg{
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px, rgba(0, 0, 0, 0.5) 0 0 2px;
}*/

.cropAndRotate--cuttingBoard{
    position: relative;
}

.cropAndRotate--cuttingMattHolder{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cropAndRotate--controls {
    display: flex;
    justify-content: center;
    z-index: 2;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}

.cropAndRotate--cuttingMat{
    width: 100%;
    height: 100%;
}

.cropAndRotate--cuttingOverlay{

}