.butt {
    display: inline-flex;
    text-decoration: none;
    padding: 5px 10px 10px 10px;
    margin: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    outline: none;
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.7);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.7);
    /*font-weight: bold;*/
    align-items: baseline;

    /*font-family: 'Stardos Stencil', cursive;*/
}

.butt--iconHolder {
    margin-right: 10px;
    padding-top: 5px;
}

.butt--small {
    font-size: 14px;
    margin: 5px;
    box-shadow: 2px 2px black;
}

.butt--hover {
    text-decoration: underline;
}

.butt--white {
    background-color: rgba(255, 255, 255, 1);
}

.butt--red {
    background-color: #cf383b;
}

.butt--orange {
    background-color: #ff6600;
}

.butt--yellow {
    background-color: #FFCC00;
    background-blend-mode: multiply;

    /*background: repeating-linear-gradient(
            45deg,
            #FFCC00,
            #FFCC00 5px,
            #e6b800 5px,
            #e6b800 10px
    );*/
}

.butt--green {
    background-color: #abc837;
    /*background: repeating-linear-gradient(
            45deg,
            #abc837,
            #abc837 5px,
            #95b132 5px,
            #95b132 10px
    );*/
}

.butt--blue {
    background-color: #37abc8;
}

.butt--purple {
    background-color: #aa00d4;
}

.butt--facebook {
    background-color: #01579b;
    color: #fff;
}

.butt--google {
    color: #666;
    background-color: #fff;
}

.butt--link {
    border: none;
    background: none;
    box-shadow: none;
}

@media (max-width: 600px) {
    .butt {
        /*padding: 5px;*/
        margin: 10px;
        font-size: 1rem;
    }

}