.iconButt {
    cursor: pointer;
    outline: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    height: 80px;
    min-width: 80px;
}

.iconButt--icon{
    /*height: 42px;*/
    /*width: 42px;*/
}