.frameEditor {
    /*background: url("../../images/bg/cuttingMat.png");*/
    background: url("../../images/brickwall.png");
    overflow: hidden;
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.frameEditor--artworkHolder{
    padding: 0 10px;
}

.frameEditor--controls{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /*height: 180px;*/
}