.quickCropAndRotate--holder {
    /*border: red 1px solid;*/
    position: relative;
    line-height: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quickCropAndRotate--controls{
    position: fixed;
    bottom: 10px;
    display: flex;
}

.quickCropAndRotate--cuttingMatHolder {
    /*position: absolute;
    top: 0;
    left: 0;*/
}

.quickCropAndRotate--cuttingBoardHolder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 67px;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.cropAndRotate--cuttingBoard{
    position: relative;
}