.home--snapPicIcon{
    height: 170px;
    width: 120px;
}

#flash{
    opacity: 0;
    animation-name: flashOnOff;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.thumb{
    transform: rotateZ(-10deg);
    animation-name: thumbPress;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes thumbPress {
    0% {transform: rotateZ(-10deg);}
    50% {transform: rotateZ(0deg);}
    55% {transform: rotateZ(1deg);}
    70% {transform: rotateZ(1deg);}
    100% {transform: rotateZ(-10deg);}
}

@keyframes flashOnOff {
    0% {opacity:0}
    70% {opacity:0}
    75% {opacity:1}
    80% {opacity:0}
    75% {opacity:1}
    100% {opacity:1}
}
