.userProfilePage {
    min-height: 100vh;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
}

.userProfile {
    flex: 1;
    padding: 70px 20px 50px 20px;
}

.userProfile--inner{
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.userProfile--deleteSection {
    border-top: rgba(0, 0, 0, 0.3) 1px solid;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
}

.userProfile--detailsList {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.userProfile--detail {
    display: flex;
    padding: 10px;
    align-items: center;
}

.userProfile--detail--col {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.userProfile--detail--type {
    width: 75px;
    color: #8f8f8f;
}

.userProfile--detail--value {
    flex: 1;
    padding-left: 10px;
}

.userProfile--email {
    flex: 1;
}

.userProfile--detail--buttons {
    display: flex;
    justify-content: flex-end;
}

.mood-icon {
    font-size: 2rem;
}

.userProfile--detailsList--avatarHolder {
    margin: 0 auto 20px auto;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {

    .userProfile {
        padding: 50px 15px 50px 15px;
    }

}
