.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page--title{

}

.page--content{
    margin: 10px auto;
    max-width: 960px;
    padding: 0 40px 0 140px;
}

@media screen and (max-width: 800px) {
    .page--content{
        padding: 0 20px;
    }

    .page--title{
        margin-top: 80px;
    }
}