.quickCropAndRotate--holder {
    /*border: red 1px solid;*/
    flex: 1;
    /*background-color: #01579b;*/
    /*background-image: url("./images/bg");*/
    background: #fff url("../../images/bg/cuttingMat.png");
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quickCropAndRotate--controls {
    /*position: fixed;
    bottom: 10px;
    display: flex;*/
}

.quickCropAndRotate--cuttingBoardHolder {
    z-index: 99999;
    line-height: 0;
}

.cropAndRotate--cuttingOverlay{
    position: absolute;
}