.quickCropAndRotate--holder {
    flex: 1;
    background: #fff url("../../images/bg/cuttingMat.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.quickCropAndRotate--cuttingBoardHolder {
    line-height: 0;
}

.cropAndRotate--cuttingOverlay{
    position: absolute;
}