/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:500');
/*@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Cabin+Sketch|Codystar|Fredericka+the+Great|Jacques+Francois+Shadow|Kranky|Life+Savers:700|Londrina+Shadow|Love+Ya+Like+A+Sister');*/
/*@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300,400,700');*/

/*GLOBAL STYLES*/
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Source Code Pro', monospace;*/
    font-family: 'Work Sans', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.1rem;
    /*color:red;*/
    line-height: 1.6rem;
}

.no-scroll-bars {
    overflow: hidden;
}

/*APP STYLES*/
.app {
    /*background: #fff url("./images/tiny_grid_@2X.png");*/
    /*background: url("./images/grid_42.png"), radial-gradient(circle, #fefce0, #e6e5cb);*/
    background: url("./images/brickwall.png"), radial-gradient(circle, #fefce0, #e6e5cb);
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
    /*display: flex;*/
}

.app--sidebar {
    width: 150px;
    position: fixed;
    display: flex;
}

.app--stencil-header {
    font-family: 'Stardos Stencil', cursive;
    font-size: 3rem;
    font-weight: normal;
    line-height: 3rem;
    text-align: center;
}

.app--section {
    margin-top: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app--section--dark {
    background: rgba(0, 0, 0, 0.07);
}

.app--section--header {

}

.app--section--content {
    max-width: 800px;
}

.app--section-content--cards {
    display: flex;
    flex-wrap: wrap;
}

.app--section-content--card {
    flex: 1 1 250px;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: stretch;
}

.app--section-content--card p {
    margin: 5px 20px 20px 20px;
    text-align: center;
    align-self: stretch;
    background: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.51) 2px 2px 2px, rgba(0, 0, 0, 0.21) 0 0 1px;
}

.app--mainWithSideBar {
    margin-left: 150px;
}

.app--homeButt {
    position: fixed;
    z-index: 2000;
}

.app--addArtButt {
    position: fixed;
    right: 0;
    z-index: 2001;
}

.app--galleryControlsHolder {
    position: relative;
}

.app--galleryControls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2002;
    display: flex;
    justify-content: center;
    height: 65px;
}

@media screen and (max-width: 600px) {

    .app--section {
        margin-top: 1rem;
        padding: 4%;
    }

    .app--stencil-header {
        font-size: 2rem;
        line-height: 2rem;
    }
}
