.pictureMakerControls{
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:auto;
    overflow-x:hidden;
    z-index: 12;
    margin: 20px 0 0 5px;
    width: 75px;
}

.pictureMakerControls::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(245, 245, 245, 0.11);
}

.pictureMakerControls::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0, 0.34);
}

.pictureMakerControls--menuDivider{
    margin: 10px 20px 0 10px;
    border-bottom: rgba(255, 255, 255, 0.2) 4px double;
}