.pictureMaker {
    min-height: 100vh;
    min-width: 100vw;
}

.pictureMaker--content{
    z-index: 2;
}

.pictureMaker--main {
    position: absolute;
    z-index: 11;
    overflow-y: auto;
    overflow-x: hidden;
    /*display: none;*/
}

.cuttingMat--svg {
    z-index: 1;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cuttingMat--svg--bg{
    width: 100%;
    height: 100%;
}

.cuttingMat--svg--gridRect{
    width: 100%;
    height: 100%;
}
