.home{
    background-color: #ecf0f1;
    padding: 90px 30px;
}

.descriptions{
    text-align: center;
    font-size: 1.8em;
    margin: 10px 0 2em 0;
    color: rgba(0,0,0,0.5);
}

.home-content{
    max-width: 960px;
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    .descriptions{
        font-size: 1em;
    }
}
