.artwork {
    overflow: hidden;
    /*min-width:100vw;
    min-height:100vh;*/
}

.artworkViewer--topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.artworkViewer--topBar--topButts{
    /*display: flex;*/
}