.horizontalList{
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 20px 10px 0;
}

/*ONLY DO THIS FOR CONTROLS, not everywhere*/
.simpleScrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.simpleScrollbar::-webkit-scrollbar-track {
    background-color: #bfbfbf;
    border-radius: 10px;
}

.simpleScrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #000;
}

.hideScrollBar::-webkit-scrollbar {
    width: 0.1px;
    height: 0.1px;
    display: none;
}