.quickPhotoSelector {
    /*width: 150px;*/
    /*height: 150px;*/
}

.quickPhotoSelector--label {
    /*position: relative;*/
}

.quickPhotoSelector--input {
    /*position: absolute;*/
    cursor: pointer;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 75px;
    width: 100%;
    /*background-color: red;*/
}

.quickPhotoSelector--inputButton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    height: 100%;
    text-align: center;
    /*border: rgba(0, 0, 0, 0.4) 5px dashed;*/
}

.quickPhotoSelector--customInputButton {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quickPhotoSelector--inputButton--iconHolder {
    padding: 20px;
    border-radius: 60px;
}

.quickPhotoSelector--inputButton--iconHolder i {
    color: whitesmoke;
}

/*
@media screen and (max-height: 480px) {
    .quickPhotoSelector--customInputButton {
        padding: 20px 60px;
        margin-top: 10px;
    }
}*/
