.gallerySign{
    text-align: center;
    color: rgba(0,0,0,0.7);
    padding: 3rem;
    background: rgba(255, 255, 255, 0.5);
    max-width: 800px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px ;
}

@media screen and (max-width: 600px) {

    .gallerySign{
        padding: 1rem;
    }
}
