.people-tiles {
    display: flex;
    background-color: #01579b;
}

.person-tile {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    min-width: 60px;
}

.person-tile--imgHolder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.person-tile--selected {
    border: #984eac 2px solid;
}

.person-tile--toggleHolder {

}