.offlineMessage{
    position: fixed;
    background-color: rgb(194, 106, 47);
    color: white;
    padding: 2px 10px;
    z-index: 100; 
    font-size: 14px;
}

.offlineMessage--icon{
    font-size: 14px;
    vertical-align: middle;
}