.quickArtworkMaker {
    overflow: hidden;
    min-width:100vw;
    min-height:100vh;
    background: white;
}

.quickArtworkMaker--sideBar{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
}

.quickArtworkMaker--main {
    position: fixed;
    top: 0;
    left: 70px;
    right: 0;
    bottom: 0;
}