.artworkEditor{
    background-color: #27ae60;
    color: white;
    min-height: 100vh;
}

.artworkEditor-contents{
    padding: 20px 30px;
}

.artworkEditor-artist-section{
    padding: 20px 0;
}

.artworkEditor-image-section{
    display: flex;
    flex-direction: column;
    border: solid 2px white;
    padding: 20px;
    border-radius: 5px;
}

.slim-area{
    background-color: rgba(0, 0, 0, 0.73);
}