.artworkPreview{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.artworkPreview--canvasHolder{
    padding: 0;
    margin: 0;
    background-color: rgba(255, 0, 0, 0.51);
    max-width: 100%;
}

.artworkPreview--canvas{
    max-width: 100%;
    max-height: 100%
}

.artworkPreview--hiddenCanvas{
    border: black 3px solid;
}