.home--heading {
    padding: 5rem 10px 1rem 10px;
    flex: 1;
}

.home--title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home--artflyLogoSvg{
    height: 200px;
    width: 120px;
    margin-right: 20px;
}

.home--artflyLogoSvg--fly{
    animation-name: logoHover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.home--artflyLogoSvg--shadow{
    x:15;
    y:160;
    width:80px;
    height:16px;
    fill: rgba(0, 0, 0, 0.1);
    animation-name: shadowGrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes logoHover {
    0% {transform: translate(0px, 0px);}
    50% {transform: translate(3px, -15px);}
    100% {transform: translate(0px, 0px);}
}

@keyframes shadowGrow {
    0% {width: 80px; transform: translate(0px, 0px);}
    50% {width: 60px; transform: translate(10px, 0px);}
    100% {width: 80px; transform: translate(0px, 0px);}
}

.home--artflyNameSvg{
    height:100px;
    width:400px;
}

.home--tagLine {
    text-align: center;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.home--signInOut{
    margin-top: 30px;
    text-align: center;
}

.home--subHeading{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.home--footer{
    margin-top: 4rem;
    background-color: rgba(0, 0, 0, 0.68);
    padding: 1.5rem;
    border-radius: 5px;
    color: white;
}

.home--footer h3{
    margin-top: 0;
}

.home--footer--p{
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .home--tagLine {
        font-size: 1.3rem;
    }
}


