.home--heading {
    padding: 5rem 10px 4rem 10px;
}

.home--tagLine {
    text-align: center;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.home--footer{
    margin-top: 4rem;
    background-color: rgba(0, 0, 0, 0.68);
    padding: 1.5rem;
    border-radius: 5px;
    color: white;
}

.home--footer h3{
    margin-top: 0;
}

.home--footer--p{
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .home--tagLine {
        font-size: 1.3rem;
    }
}


