.artistSelector {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center; /*vertical center*/
    align-items: center; /**/
    overflow-y: auto;
    /*background-color: #046e4f;*/
    /*margin: 10px;
    border: 1px dashed rgba(255,255,255,0.4);
    border-radius: 10px;
    box-shadow: 0 0 0 15px rgb(48, 88, 49);
    background: radial-gradient(ellipse at center, rgb(86, 137, 87) 0%, rgb(50, 91, 51) 100%);*/
}

.artistSelector--artworkCard{
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px;
    text-align: center;
}

.artistSelector--artworkCard--img{
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 2px;
    border: rgba(0, 0, 0, 0.6) 1px solid;
}

.artistSelector--artists {

}