.settings-main-section {
    margin-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.settings-main-section form {
    display: flex;
    flex-direction: column;
}

.settings h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.settings p {
    padding: 0;
    margin: 0.3em 0;
}

.settings-artists-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.settings-artist {
    background-color: rgba(0,0,0,0.1);
    /*border: solid white 2px;*/
    border-radius: 5px;
    padding: 0.5em 1.5em 1.5em 1.5em;
    margin: 1em;
}

.settings-artist-field {
    opacity: 0.6;
}

.settings-artist-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 500px) {

    .settings .page-title h1 {
        padding: 60px 30px 0 30px;
        margin-bottom: 60px;
        text-align: center;
    }

    .settings-content {
        padding: 10px 20px;
        margin-top: 0;
    }
}